.currentDate {
  text-align: center;
  font-family: "Padauk", sans-serif;
  font-size: 30px;
  color: #0c5a96;
  margin: auto 0px 10px 0px;
}
.weatherSite {
  margin: auto 100px 0px 0px;
}
.daysline {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
form {
  color: #d87e00;
  text-align: center;
  font-size: 20px;
  font-family: "Padauk", sans-serif;
  margin: 0px 0px 0px 0px;
}
hr {
  border: 2px solid #1c1f23;
}
ul {
  font-family: "Padauk", sans-serif;
  font-size: 22px;
  color: #d87e00;
  list-style-type: none;
  position: absolute;
  right: 200px;
  top: 200px;
}
h1 {
  font-size: 55px;
  margin: 210px 0px 0px 210px;
  color: #0c5a96;
}
.weatherEmoji {
  position: absolute;
  top: 150px;
  right: 660px;
}
.tempF {
  text-decoration: none;
  font-size: 20px;
  margin: 210px 0px 0px 210px;
  color: #0c5a96;
}
.tempF:hover {
  color: #d87e00;
}
.line-FC {
  font-size: 20px;
  color: #0c5a96;
}
.tempC {
  text-decoration: none;
  font-size: 20px;
  color: #0c5a96;
}
.tempC:hover {
  color: #d87e00;
}
img {
  position: absolute;
  top: 150px;
  right: 400px;
}
.current {
  text-align: center;
  margin: 50px 0px 0px;
  color: #0c5a96;
}
h3 {
  text-align: center;
  margin: 0px 0px 0px;
  color: #0c5a96;
}
h2 {
  text-align: center;
  margin: 100px 0px 0px;
  color: #0c5a96;
}
.rainline {
  width: 30%;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 0px;
}
.ark {
  margin: 0;
}
.cityline {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.link {
  text-align: center;
  font-family: "Padauk", sans-serif;
  color: #d87e00;
}
